<tw-storydata name="Duck Game" startnode="1" creator="Twine" creator-version="2.2.1" ifid="C8153A3F-C4B3-430D-9F32-07C15A37310C" zoom="1" format="SugarCube" format-version="2.21.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">`	html, body {
  min-width: 340px;
}

#ui-bar {
  display:none;
}

.wrapper {
  display: inline-block;
  position:relative;
  float:right;
}

.room {
  width: 100%;
  max-width: 100%;
}

.guest {
    position: absolute;
    right: -2%;
    top: 10%;
}

.duck {
  position:absolute;
  right: 50%;
  top: 10%;
}

.teapot {
  /*border: 1px solid green;*/
  position:absolute;
  right: 70%;
  top: 10%;
  /*width: 25%;*/
  /*max-width:25%;*/
}

#story {
  background-color:white;
  padding: 10px;
  border-radius: 3px;
  min-height: 425px;
  max-width: 90%;
  margin:auto;
  margin-top:50px;
  font-size: 110%;
  padding-bottom: 27px;
}

.passage {
 	padding: 20px;

}

.text_container {
	text-align: left;
  	max-width: 40%;}

input[type=text] {
    min-width: 17em;
}

.lowlink a, .toplink a {
    text-decoration: none;
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin: auto;
}

.toplink a {
    top: 230px;
}




input {
    background-color: #BF273F;
    border: 1px solid #fff;
    padding-top: .4em;
  	padding-bottom: .4em;
    border-radius: 3px;
   /* margin-top: .5em;*/
   /* margin-bottom: .5em;*/
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    background-color: #7F1A2E;
}

body {
  background-color: #b6d0d5;
  /*background-image:   url('https://www.dropbox.com/s/oc3t9ldwenlmi71/rgfgfdgdfg20.jpg?dl=1');*/
  color: #333;
  font-family: Open sans, Roboto, Helvetica, sans-serif;
  font-size: 110%;
}

a {
    color: #BF273F;
}


a:visited, a:link, a:active, a:hover
{
    text-decoration: none;
}

.toplink a:hover, .lowlink a:hover, a:hover {
  color: #7F1A2E;
  transition: 0.7s all ease;
  text-decoration: none;
}



.clothesroom {
  background-color: blue;
  color: tomato;
}





















</style><script role="script" id="twine-user-script" type="text/twine-javascript">
























</script><tw-passagedata pid="1" name="START" tags="" position="67,44" size="100,100">&lt;&lt;set $visitor to false&gt;&gt;&lt;div class=&quot;wrapper&quot;&gt;
&lt;/div&gt;&lt;div class=&quot;text_container&quot;&gt;Mr Duck and his new home!!

[[Begin|moving in]]&lt;/div&gt;


</tw-passagedata><tw-passagedata pid="2" name="notes" tags="" position="1777,19" size="100,100">&lt;div class=&quot;disappears&quot;&gt;disappearing text&lt;/div&gt;

&lt;!-- HTML Comment element --&gt;

/* Javascript / CSS multi-line comment block */

/% Wiki multi-line comment block %/

&lt;img src=&quot;https://www.dropbox.com/s/3ofch4kglt4uwd0/map.png?dl=1&quot;/&gt;</tw-passagedata><tw-passagedata pid="3" name="house" tags="" position="1764,136" size="100,100">Double-click this passage to edit it.</tw-passagedata><tw-passagedata pid="4" name="Shania" tags="" position="613,135" size="100,100">&lt;&lt;if $fails is 1&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the brain but have you got the touch?&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;&lt;&lt;if $fails is 2&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the looks but have you got the touch?&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;&lt;&lt;if $fails is 3&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the moves but have you got the touch&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;Shania Twain: &lt;i&gt;That don&#39;t impress me much&lt;/i&gt; 

$lyrics
Don&#39;t get me wrong, yeah I think you&#39;re alright
But that won&#39;t keep me warm in the middle of the night
&lt;&lt;if $fails lte 2&gt;&gt;&lt;div class=&quot;lowlink&quot;&gt;[[:(|rocket]]&lt;/div&gt;&lt;&lt;/if&gt;&gt;
&lt;&lt;if $fails is 3&gt;&gt;&lt;div class=&quot;lowlink&quot;&gt;[[I kiss my car good night|cool]]&lt;/div&gt;&lt;&lt;/if&gt;&gt;
/*&lt;&lt;set $fails += 1&gt;&gt; */</tw-passagedata><tw-passagedata pid="5" name="StoryInit" tags="" position="237,54" size="100,100">&lt;&lt;cacheaudio &quot;mainsong&quot; &quot;https://www.dropbox.com/s/4v8hxny4qxiz53e/shaniatwainimpress.mp3?dl=1&quot;&gt;&gt;
&lt;&lt;cacheaudio &quot;endsong&quot; &quot;https://www.dropbox.com/s/fy0jil6wkcpnkqr/Cannery.mp3?dl=1&quot;&gt;&gt;
&lt;&lt;cacheaudio &quot;applause&quot; &quot;https://www.dropbox.com/s/9o2nwgdez4mofyg/Audience-Applause-Matthiew11.mp3?dl=1&quot;&gt;&gt;

::Start
/* &lt;&lt;audio &quot;mainsong&quot; loop play&gt;&gt; */


&lt;&lt;set $teapot to false&gt;&gt;</tw-passagedata><tw-passagedata pid="6" name="rocket" tags="" position="628,14" size="100,100">&lt;&lt;audio mainsong loop play&gt;&gt;&lt;&lt;set $fails to 1&gt;&gt;Okay, so you&#39;re a rocket scientist?
&lt;div class=&quot;toplink&quot;&gt;[[&quot;Yes, I am &quot; + $name + &quot;, a great rocket scientist :)&quot;|Shania]]&lt;/div&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[I think you&#39;ve gotten me mixed up with Robert H. Goddard?|brad]]&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="7" name="got a car" tags="" position="886,188" size="100,100">&lt;&lt;set $fails to 3&gt;&gt;Okay, so you&#39;ve got a car?

&lt;div class=&quot;toplink&quot;&gt;[[Yes! I just got a periwinkle Robin Reliant! :)|Shania]]&lt;/div&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[I think you&#39;ve gotten me mixed up with somebody who knows how to drive :(|elvis]]&lt;/div&gt;</tw-passagedata><tw-passagedata pid="8" name="nighttime" tags="" position="734,126" size="100,100">&lt;&lt;set $fails to 3&gt;&gt;Can you keep me warm in the middle of the night?

&lt;div class=&quot;toplink&quot;&gt;[[I have been told I am especially toasty during the nighttime hours! :)|toasty]]&lt;/div&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[Not really, I have to wear bedsocks because I am an icecube :(|special]]&lt;/div&gt;</tw-passagedata><tw-passagedata pid="9" name="toasty" tags="" position="872,20" size="100,100">Shania Twain: &lt;i&gt;That impresses me much!&lt;/i&gt;&lt;&lt;audio mainsong stop&gt;&gt; &lt;&lt;audio applause play&gt;&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[Go back to start|STARTt]]&lt;/div&gt;

Made by: &lt;a href=&quot;https://quixoticduck.itch.io&quot;&gt;quixoticduck&lt;/a&gt;</tw-passagedata><tw-passagedata pid="10" name="special" tags="" position="730,244" size="100,100">Shania Twain: &lt;i&gt;That don&#39;t impress me much

Oh-oo-oh, so you think you&#39;re something special
Oh-oo-oh, you think you&#39;re something else&lt;/i&gt;

&lt;div class=&quot;lowlink&quot;&gt;[[:(|Shania]]&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="11" name="Untitled Passage" tags="" position="845,292" size="100,100">&lt;&lt;set $impressive to false&gt;&gt;Hello, and what shall I call you?

&lt;&lt;textbox &quot;$name&quot; &quot;&quot;&gt;&gt;

&lt;div class=&quot;lowlink&quot;&gt;[[Next page|rocket]]&lt;/div&gt;
&lt;&lt;set $fails to 0&gt;&gt;
</tw-passagedata><tw-passagedata pid="12" name="Hippo arrival" tags="" position="65,285" size="100,100">&lt;&lt;set $visitor to true&gt;&gt;&lt;&lt;set $guest to &quot;hippo&quot;&gt;&gt;Duck opens the door. A friendly hippo greets him.
&#39;Hi Victor!&#39; says Duck. &#39;How have you been?&#39; 
It is years since Duck had seen Victor the hippo. They were school friends and used to play rugby together, at school.

[[Open front door|moving in]]</tw-passagedata><tw-passagedata pid="13" name="old css" tags="" position="429,154" size="100,100">html, body {
  min-width: 340px;
}

#ui-bar {
  display:none;
}

.passage {
	text-align: left;
 	padding: 20px;
  	max-width: 50%;
  
  
}

input[type=text] {
    min-width: 17em;
}

.lowlink a, .toplink a {
    text-decoration: none;
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin: auto;
}

.toplink a {
    top: 230px;
}


#story {
    background-color:white;
  padding: 10px;
  border-radius: 3px;
  min-height: 250px;
  max-width: 95%;
    max-width: 950px;
  margin:auto;
  margin-top:50px;
  font-size: 110%;
}

@media screen and (max-width: 1920px) {
#story {
  padding: 10px;
  min-height: 250px;
  max-width: 750px;
  margin-top:50px;
  font-size: 110%;
	}
}

@media screen and (max-width: 880px) {
#story {
  padding: 8px;
  min-height: 250px;
  max-width: 450px;
  margin-top:50px;
  font-size: 90%;
  color: pink;
	}  
}

@media screen and (max-width: 550px) {
#story {
  padding: 8px;
  /*min-height: 355px;*/
  max-width: 330px;
  margin-top:50px;
  font-size: 85%;
  color: green;
  input[type=text] {
    min-width: 200px;
}
    .lowlink a {
   position: inherit;
  }
  .toplink a {
   position: inherit;
  
  } 
  }
}

@media screen and (max-width: 350px) {
  #story {
  padding: 8px;
  /*min-height: 460px;*/
  max-width: 260px;
  margin-top:50px;
  font-size: 80%;
  color: orange;
input[type=text] {
    min-width: 140px;
}
	  .lowlink a {
   position: unset;
  }
  .toplink a {
   position: unset;
  
  } 
  }
}

input {
    background-color: #BF273F;
    border: 1px solid #fff;
    padding-top: .4em;
  	padding-bottom: .4em;
    border-radius: 3px;
   /* margin-top: .5em;*/
   /* margin-bottom: .5em;*/
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    background-color: #7F1A2E;
}

body {
  background-color: eggshell;
  /*background-image:   url(&#39;https://www.dropbox.com/s/oc3t9ldwenlmi71/rgfgfdgdfg20.jpg?dl=1&#39;);*/
  color: #333;
  font-family: Open sans, Roboto, Helvetica, sans-serif;
  font-size: 110%;
}

a {
    color: #BF273F;
}


a:visited, a:link, a:active, a:hover
{
    text-decoration: none;
}

.toplink a:hover, .lowlink a:hover, a:hover {
  color: #7F1A2E;
  transition: 0.7s all ease;
  text-decoration: none;
}



.clothesroom {
  background-color: blue;
  color: tomato;
}
















</tw-passagedata><tw-passagedata pid="14" name="moving in" tags="" position="66,158" size="100,100">&lt;div class=&quot;wrapper&quot;&gt;&lt;&lt;if $teapot is true&gt;&gt;&lt;div class=&quot;teapot&quot;&gt;&lt;img src=&quot;https://www.dropbox.com/s/1aa1rnrinmxzq1t/duck.png?dl=1&quot; width=&quot;60&quot; height=&quot;60&quot; alt=&quot;teapot&quot;&gt;&lt;/div&gt;&lt;&lt;/if&gt;&gt;&lt;div class=&quot;room&quot;&gt;&lt;img src=&quot;https://www.dropbox.com/s/hwjd6a5t88tvlgh/kitchen.png?dl=1&quot; width=&quot;400&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;&lt;/div&gt;&lt;div class=&quot;duck&quot;&gt;&lt;img src=&quot;https://www.dropbox.com/s/1aa1rnrinmxzq1t/duck.png?dl=1&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;duck&quot;&gt;&lt;/div&gt;&lt;&lt;if $visitor is true&gt;&gt;&lt;&lt;if $guest is &quot;hippo&quot;&gt;&gt;&lt;div class=&quot;guest&quot;&gt;&lt;img src=&quot;https://www.dropbox.com/s/c0wisk8m7b4p3ki/hiipo.png?dl=1&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;guest&quot;&gt;&lt;/div&gt;&lt;&lt;/if&gt;&gt;&lt;&lt;/if&gt;&gt;&lt;/div&gt;&lt;div class=&quot;text_container&quot;&gt;Duck is sitting at his table. He moved back to the town he was born when his grandfather (also a duck) died. Now he&#39;s going to live in the house.

He hears the doorbell...

[[Open front door|Hippo arrival]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="15" name="STARTt" tags="" position="872,150" size="100,100">Double-click this passage to edit it.</tw-passagedata></tw-storydata>