<tw-storydata name="Duck&#39;s Cosy Home smartphone" startnode="1" creator="Twine" creator-version="2.2.1" ifid="8CD1DCAF-6B2A-4414-8094-46736C0E4406" zoom="1" format="SugarCube" format-version="2.21.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">`	html, body {
  min-width: 340px;
}


}

#ui-bar {
 display:noney;
}

#menu ul {
	border:none;
}

#ui-bar {
	/*width: 9em;*/
}

#menu li a {
    display: block;
    padding: .25em .75em;
    border: 1px solid transparent;
    color: #b6d0d5;
    text-transform: none;
}

#story-title {
	color: #b6d0d5;
}

#menu li a:hover {
	border: none;
}

#menu li:not(:first-child) {
    border-top: none;
}

#ui-bar-history [id|=history]:disabled {
    border: none;
}

#ui-bar-history [id|=history]:disabled {
    color: #b6d0d5;
	 visibility: hidden;
}

#ui-bar-history [id|=history], #ui-bar-toggle {
    border: 1px solid rgba(68, 68, 68, 0);
}

#ui-bar-history [id|=history], #ui-bar-toggle {
    color: #FEB3BF;
}

#ui-bar-history [id|=history]:not(:first-child) {
    visibility: hidden;
}

#menu-core li[id|=menu-item] a:before, #ui-bar-history [id|=history], #ui-bar-toggle:before {
    color: #FEB3BF;
}

#ui-bar-body>:not(:first-child) {
    margin-top: 2em;
    color: #FEB3BF;
}

h1 {
	 font-family: Open sans, Roboto, Helvetica, sans-serif;
}

.wrapper {
  display: inline-block;
  position:relative;
  float:right;
}

.name {
	color:#769095;
}

.room {
  width: 100%;
  max-width: 100%;
}


.guest {
    position: absolute;
	right: 12%;
    top: 45%;
}

.duck {
  position:absolute;
  right: 63%;
  top: 44%;
  z-index: 5;
}

.duck-m {
  position:absolute;
  right: 35%;
  top: 44%;
    z-index: 5;
}

.duck-r {
  position:absolute;
  right: 6%;
  top: 44%;
    z-index: 5;
}

.stork {
  position:absolute;
  right: 37%;
  top: 46%;
}

.hippo_outside {
  position:absolute;
  right: 37%;
  top: 46%;
}

.teapot {
  /*border: 1px solid green;*/
  position:absolute;
  right: 70%;
  top: 15%;
  /*width: 25%;*/
  /*max-width:25%;*/
}

.snood {
    position: absolute;
    right: 12%;
    top: 55%;
}

.vase {
    position: absolute;
	right: 81%;
    top: 22%;
}

.flower {
    position: absolute;
	right: 81%;
    top: 2%;
}

.rattle {
    position: absolute;
    right: 20%;
    top: 58%;
}


#story {
  background-color:white;
  padding: 10px;
  border-radius: 3px;
  min-height: 425px;
  max-width: 90%;
  margin:auto;
  margin-top:50px;
  font-size: 110%;
  padding-bottom: 27px;
}

.passage {
 	padding: 20px;

}

.text_container {
	text-align: left;
  	max-width: 35%;
}

input[type=text] {
    min-width: 17em;
}

.lowlink a, .toplink a {
    text-decoration: none;
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin: auto;
}

.toplink a {
    top: 230px;
}




input {
    background-color: #BF273F;
    border: 1px solid #fff;
    padding-top: .4em;
  	padding-bottom: .4em;
    border-radius: 3px;
   /* margin-top: .5em;*/
   /* margin-bottom: .5em;*/
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    background-color: #7F1A2E;
}

body {
  background-color: #b6d0d5;
  /*background-image:   url('https://www.dropbox.com/s/oc3t9ldwenlmi71/rgfgfdgdfg20.jpg?dl=1');*/
  color: #333;
  font-family: Open sans, Roboto, Helvetica, sans-serif;
  font-size: 110%;
}

a {
    color: #BF273F;
}


a:visited, a:link, a:active, a:hover
{
    text-decoration: none;
}

.toplink a:hover, .lowlink a:hover, a:hover {
  color: #7F1A2E;
  transition: 0.7s all ease;
  text-decoration: none;
}



.clothesroom {
  background-color: blue;
  color: tomato;
}


@media screen and (max-width: 550px) {
  
	.wrapper {
	float:none;
 	width: 45%;
  	max-width: 45%;

	}
  
  .room {

  }
  
  img {
 	/*width:200% !important;*/
	width:200%;
	height:200%;
  }
  
  
   .guest, .duck-r {
  	width:35%;
	/*height:100%;*/
	right: -54%;
    top: 41%;
  } 
  
  .kangaroo {
    top: 20%;
	right: -54%;
  }
  
    .giraffe {
    width:30%;
	  top:5%;
  }
  
  .teapot, .snood, .rattle {
  	width:25% !important;
	/*height:100%;*/
  } 
  
  .vase, .flower {
    	width:23px !important;
  }
  
    .item {
  	width:27px !important;
  } 
  
  .rattle {
    right: 36%;
    top: 32%;
  }
  
   .teapot {
  right: 49%;
    top: 11%;
  }
 
  .vase {
right: 77%;
  top:18%
  }
  
   .flower {
    right: 77%;
    top: 1%;
  }
  
  .snood {
  right: 23%;
    top: 27%;
  }
  
  .duck {
    top: 39%;
  }
  
  .duck-m, .duck-r, .hippo_outside, .stork {
    	width:35%;
  }
  
  .stork {
  	width: 32% !important:
    top: 41% !important;
  }
  
  .passage {
  	padding-right: 2px;
	max-width: 98%;
  
  }
    
	.text_container {
	/*text-align: left;*/
	/*text-align:center;*/
  	max-width: 96%;
	}
  
	#story {
	font-size: 95%;
	/*color:orange;*/
	margin-right: 25px;
	  max-width: 70%;

  }
  
  #ui-bar.stowed~#story {
	margin-right: 25px;
  }
	  
	body {
	  min-width: 550px;
	 }	  
	  
  }




























</style><script role="script" id="twine-user-script" type="text/twine-javascript">var audioEnabledHandler = function () {
	if (!settings.audioEnabled) { // is false
		/*
			Stops all audio currently playing, via `<<audio>>` or `<<playlist>>`,
			when the setting is disabled.
		*/
		new Wikifier(null, "<<stopallaudio>><<playlist stop>>");
	}
};
Setting.addToggle("audioEnabled", {
	label    : "Enable audio within the story?",
	default  : true,
	onInit   : audioEnabledHandler,
	onChange : audioEnabledHandler
});


































</script><tw-passagedata pid="1" name="START" tags="" position="100,48" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;&lt;if settings.audioEnabled&gt;&gt;&lt;&lt;audio &quot;housesong&quot; loop play&gt;&gt;&lt;&lt;/if&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;

	  &lt;img src=&quot;https://c2.staticflickr.com/8/7811/46219383114_f87fdbbd1e_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;  &lt;div class=&quot;text_container&quot;&gt;&lt;h1&gt;Mr Duck and his new home!!&lt;/h1&gt;&lt;/div&gt;
[[Begin|moving in]]
</tw-passagedata><tw-passagedata pid="2" name="notes" tags="" position="1099,1" size="100,100">&lt;div class=&quot;disappears&quot;&gt;disappearing text&lt;/div&gt;

&lt;!-- HTML Comment element --&gt;

/* Javascript / CSS multi-line comment block */

/% Wiki multi-line comment block %/

&lt;img src=&quot;https://www.dropbox.com/s/3ofch4kglt4uwd0/map.png?dl=1&quot;/&gt;</tw-passagedata><tw-passagedata pid="3" name="Shania" tags="" position="1601,301" size="100,100">&lt;&lt;if $fails is 1&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the brain but have you got the touch?&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;&lt;&lt;if $fails is 2&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the looks but have you got the touch?&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;&lt;&lt;if $fails is 3&gt;&gt;&lt;&lt;set $lyrics to &quot;So you got the moves but have you got the touch&quot;&gt;&gt;&lt;&lt;/if&gt;&gt;Shania Twain: &lt;i&gt;That don&#39;t impress me much&lt;/i&gt; 

$lyrics
Don&#39;t get me wrong, yeah I think you&#39;re alright
But that won&#39;t keep me warm in the middle of the night
&lt;&lt;if $fails lte 2&gt;&gt;&lt;div class=&quot;lowlink&quot;&gt;[[:(|rocket]]&lt;/div&gt;&lt;&lt;/if&gt;&gt;
&lt;&lt;if $fails is 3&gt;&gt;&lt;div class=&quot;lowlink&quot;&gt;[[I kiss my car good night|cool]]&lt;/div&gt;&lt;&lt;/if&gt;&gt;
/*&lt;&lt;set $fails += 1&gt;&gt; */</tw-passagedata><tw-passagedata pid="4" name="StoryInit" tags="" position="700,0" size="100,100">&lt;&lt;cacheaudio &quot;housesong&quot; &quot;https://www.dropbox.com/s/w5pdp3r0qeb47wy/Lift%20Motif.mp3?dl=1&quot;&gt;&gt;
&lt;&lt;cacheaudio &quot;villagesong&quot; &quot;https://www.dropbox.com/s/13nqm0h2kilrgmf/Olde%20Timey.mp3?dl=1&quot;&gt;&gt;
&lt;&lt;cacheaudio &quot;applause&quot; &quot;https://www.dropbox.com/s/9o2nwgdez4mofyg/Audience-Applause-Matthiew11.mp3?dl=1&quot;&gt;&gt;

::Start
/* &lt;&lt;audio &quot;housesong&quot; loop play&gt;&gt; */

&lt;&lt;set $newitem to &quot;teapot&quot;&gt;&gt;
&lt;&lt;set $teapot to false&gt;&gt;
&lt;&lt;set $key to false&gt;&gt;
&lt;&lt;set $snood to false&gt;&gt;
&lt;&lt;set $snoodgiven to false&gt;&gt;
&lt;&lt;set $vase to false&gt;&gt;
&lt;&lt;set $vaseshelf to false&gt;&gt;
&lt;&lt;set $middaytea to false&gt;&gt;
&lt;&lt;set $shedtip to false&gt;&gt;
&lt;&lt;set $shears to false&gt;&gt;
&lt;&lt;set $flower to false&gt;&gt;
&lt;&lt;set $rattle to false&gt;&gt;
&lt;&lt;set $rattlegiven to false&gt;&gt;
</tw-passagedata><tw-passagedata pid="5" name="rocket" tags="" position="1600,501" size="100,100">&lt;&lt;audio mainsong loop play&gt;&gt;&lt;&lt;set $fails to 1&gt;&gt;Okay, so you&#39;re a rocket scientist?
&lt;div class=&quot;toplink&quot;&gt;[[&quot;Yes, I am &quot; + $name + &quot;, a great rocket scientist :)&quot;|Shania]]&lt;/div&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[I think you&#39;ve gotten me mixed up with Robert H. Goddard?|brad]]&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="6" name="toasty" tags="" position="1601,100" size="100,100">Shania Twain: &lt;i&gt;That impresses me much!&lt;/i&gt;&lt;&lt;audio mainsong stop&gt;&gt; &lt;&lt;audio applause play&gt;&gt;
&lt;div class=&quot;lowlink&quot;&gt;[[Go back to start|STARTt]]&lt;/div&gt;

Made by: &lt;a href=&quot;https://quixoticduck.itch.io&quot;&gt;quixoticduck&lt;/a&gt;</tw-passagedata><tw-passagedata pid="7" name="Hippo arrival" tags="" position="102,403" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7811/46219383114_f87fdbbd1e_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;130&quot; height=&quot;130&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
	&lt;div class=&quot;hippo_outside&quot;&gt;
	&lt;img src=&quot;https://c1.staticflickr.com/5/4854/46965747791_698c055d65_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;hippo&quot;&gt;
	&lt;/div&gt;
 &lt;/div&gt;
 &lt;&lt;if $rattlegiven is true&gt;&gt;
	&lt;div class=&quot;rattle&quot;&gt;
	  	&lt;img src=&quot;https://c1.staticflickr.com/5/4887/46964581601_65ee4feb3b_o.png&quot; width=&quot;54&quot; height=&quot;54&quot; alt=&quot;rattle&quot;&gt;
  		&lt;/div&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;span class=&quot;name&quot;&gt;Hippo: &lt;/span&gt;&#39;Hi Duck! How have you been?&#39; 

It is years since Duck had seen Victor the hippo. They were school friends and used to play rugby together, at school.

[[Invite hippo in|hippo kitchen]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="8" name="old css" tags="" position="1601,699" size="100,100">html, body {
  min-width: 340px;
}

#ui-bar {
  display:none;
}

.passage {
	text-align: left;
 	padding: 20px;
  	max-width: 50%;
  
  
}

input[type=text] {
    min-width: 17em;
}

.lowlink a, .toplink a {
    text-decoration: none;
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin: auto;
}

.toplink a {
    top: 230px;
}


#story {
    background-color:white;
  padding: 10px;
  border-radius: 3px;
  min-height: 250px;
  max-width: 95%;
    max-width: 950px;
  margin:auto;
  margin-top:50px;
  font-size: 110%;
}

@media screen and (max-width: 1920px) {
#story {
  padding: 10px;
  min-height: 250px;
  max-width: 750px;
  margin-top:50px;
  font-size: 110%;
	}
}

@media screen and (max-width: 880px) {
#story {
  padding: 8px;
  min-height: 250px;
  max-width: 450px;
  margin-top:50px;
  font-size: 90%;
  color: pink;
	}  
}

@media screen and (max-width: 550px) {
#story {
  padding: 8px;
  /*min-height: 355px;*/
  max-width: 330px;
  margin-top:50px;
  font-size: 85%;
  color: green;
  input[type=text] {
    min-width: 200px;
}
    .lowlink a {
   position: inherit;
  }
  .toplink a {
   position: inherit;
  
  } 
  }
}

@media screen and (max-width: 350px) {
  #story {
  padding: 8px;
  /*min-height: 460px;*/
  max-width: 260px;
  margin-top:50px;
  font-size: 80%;
  color: orange;
input[type=text] {
    min-width: 140px;
}
	  .lowlink a {
   position: unset;
  }
  .toplink a {
   position: unset;
  
  } 
  }
}

input {
    background-color: #BF273F;
    border: 1px solid #fff;
    padding-top: .4em;
  	padding-bottom: .4em;
    border-radius: 3px;
   /* margin-top: .5em;*/
   /* margin-bottom: .5em;*/
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    background-color: #7F1A2E;
}

body {
  background-color: eggshell;
  /*background-image:   url(&#39;https://www.dropbox.com/s/oc3t9ldwenlmi71/rgfgfdgdfg20.jpg?dl=1&#39;);*/
  color: #333;
  font-family: Open sans, Roboto, Helvetica, sans-serif;
  font-size: 110%;
}

a {
    color: #BF273F;
}


a:visited, a:link, a:active, a:hover
{
    text-decoration: none;
}

.toplink a:hover, .lowlink a:hover, a:hover {
  color: #7F1A2E;
  transition: 0.7s all ease;
  text-decoration: none;
}



.clothesroom {
  background-color: blue;
  color: tomato;
}
















</tw-passagedata><tw-passagedata pid="9" name="moving in" tags="" position="99,201" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
	  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4906/46832237372_9010ab3ab2_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck is standing in his kitchen. He&#39;s moved back to the town of his birth because his grandfather (also a duck) has sadly died.

He&#39;s looking forward to making the house feel his own, while still keeping some mementos of his grandfather. It does all feel a bit daunting though.

He hears the doorbell...

[[Open front door|Hippo arrival]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="10" name="hippo kitchen" tags="" position="99,600" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4906/46832237372_9010ab3ab2_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
		  &lt;div class=&quot;guest&quot;&gt;
			  &lt;img src=&quot;https://c1.staticflickr.com/5/4837/46884031111_d4bab06d8f_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;hippo&quot;&gt;
		  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;span class=&quot;name&quot;&gt;Victor: &lt;/span&gt;&#39;I&#39;m so happy you&#39;ve moved back to the area Duck. Here, I brought you this teapot as a house warming gift!

Why don&#39;t you visit Jodie in her market stall in the village centre? She lost Joey&#39;s rattle yesterday so she could do with some cheering up.&#39;

[[Say goodbye to hippo|KITCHEN]]
&lt;&lt;set $teapot to true&gt;&gt;
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="11" name="KITCHEN" tags="" position="102,804" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $vase is true&gt;&gt;&lt;&lt;set $vaseshelf to true&gt;&gt;&lt;&lt;/if&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4906/46832237372_9010ab3ab2_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;teapot item&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7843/46964581511_cc413be967_o.png&quot; width=&quot;70&quot; height=&quot;70&quot; alt=&quot;teapot&quot;&gt;
  &lt;/div&gt;
&lt;&lt;if $flower is false&gt;&gt;
  	&lt;&lt;if $vase is true&gt;&gt;
	   &lt;div class=&quot;vase&quot;&gt;
		&lt;img src=&quot;https://c1.staticflickr.com/5/4823/46050786065_4c338a5a23_o.png&quot; width=&quot;70&quot; height=&quot;70&quot; alt=&quot;vase&quot;&gt;
	&lt;/div&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/if&gt;&gt;
&lt;&lt;if $flower is true&gt;&gt;
	&lt;div class=&quot;flower&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7822/46964581631_fb518e854d_o.png&quot; width=&quot;70&quot; height=&quot;143&quot; alt=&quot;flower&quot;&gt;
	&lt;/div&gt;
&lt;&lt;/if&gt;&gt;

 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;Duck looks at his nice $newitem now sitting on his shelf and thinks about what to do next.
&lt;br&gt;&lt;br&gt;

&lt;&lt;if $vaseshelf is true&gt;&gt;
	&lt;&lt;if $middaytea is false&gt;&gt;
		He makes a nice cup of midday tea using the teapot given to him by Hippo.&lt;br&gt;&lt;br&gt;
		&lt;&lt;set $middaytea to true&gt;&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/if&gt;&gt;
[[Exit kitchen|HOUSE MAP]]
&lt;&lt;/nobr&gt;&gt;
&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="12" name="HOUSE MAP" tags="" position="401,799" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4858/46239992934_9833d18d11_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  /*&lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;*/
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $rattlegiven is true&gt;&gt;
  &lt;&lt;if $flower is true&gt;&gt;
    Duck is feeling pretty cosy right now.&lt;br&gt;&lt;br&gt;
	[[Throw a housewarming party|housewarming]]&lt;br&gt;&lt;br&gt;
  &lt;&lt;/if&gt;&gt;
&lt;&lt;/if&gt;&gt;

&lt;&lt;/nobr&gt;&gt;[[Attic|attic]]
[[Garden|garden]]
[[Kitchen|KITCHEN]]

[[Explore village|VILLAGE MAP]]
&lt;/div&gt;
/*&lt;&lt;audio &quot;:mainsong&quot; fadeoverto 2 0&gt;&gt;*/
&lt;&lt;audio villagesong stop&gt;&gt; 
&lt;&lt;if settings.audioEnabled&gt;&gt;&lt;&lt;audio &quot;housesong&quot; loop play&gt;&gt;&lt;&lt;/if&gt;&gt;</tw-passagedata><tw-passagedata pid="13" name="VILLAGE MAP" tags="" position="700,801" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7802/39979498573_19d69afcc3_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  /*&lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;*/
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
[[Visit Park|park]]&lt;br&gt;
&lt;&lt;if $vaseshelf is true&gt;&gt;[[Visit Tavern|tavern]]&lt;&lt;/if&gt;&gt;&lt;&lt;if $vaseshelf is false&gt;&gt;[[Visit Tavern|tavernshut]]&lt;&lt;/if&gt;&gt;&lt;br&gt;
[[Visit Market|market]]&lt;br&gt;
[[Visit Shop|shop]]&lt;br&gt;
&lt;br&gt;
[[Go back home|HOUSE MAP]]
&lt;&lt;/nobr&gt;&gt;
/*&lt;&lt;audio &quot;:playing&quot; fadeoverto 2 0&gt;&gt;*/
&lt;&lt;audio housesong stop&gt;&gt; 
&lt;&lt;if settings.audioEnabled&gt;&gt;&lt;&lt;audio &quot;villagesong&quot; loop play&gt;&gt;&lt;&lt;/if&gt;&gt;
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="14" name="attic" tags="" position="399,499" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7890/31958127877_f1254da491_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-m&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck looks around at all of the stuff.&lt;br&gt;
[[Look in pile of boxes|boxes]]
[[Go over to cabinet|cabinet]]

[[Leave attic|HOUSE MAP]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="15" name="garden" tags="" position="97,1101" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4844/33012440418_c15c3924fa_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck has happy memories of spending summers in this garden with his grandpa

[[Shed|shed]]

[[Go back inside|HOUSE MAP]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="16" name="shop" tags="" position="597,600" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7884/46891975432_b3abc90e16_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;130&quot; height=&quot;130&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7867/46162821594_9ce633801f_o.png&quot; width=&quot;140&quot; height=&quot;200&quot; alt=&quot;cat&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;The shop is under construction

[[Leave shop|VILLAGE MAP]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="17" name="park" tags="" position="1000,802" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4882/33012440408_08a0424db2_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;130&quot; height=&quot;130&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest giraffe&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4827/33012441838_3e5761869e_o.png&quot; width=&quot;104&quot; height=&quot;200&quot; alt=&quot;giraffe&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;&lt;if $snoodgiven is true&gt;&gt;
	&lt;div class=&quot;snood item&quot;&gt;
	  	&lt;img src=&quot;https://c1.staticflickr.com/5/4815/46050786145_5f1ce16bff_o.png&quot; width=&quot;54&quot; height=&quot;54&quot; alt=&quot;snood&quot;&gt;
  		&lt;/div&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck remembers this park from his duckling youth.

[[Go over to duckpond|duckpond]]
[[Speak with Rachel|giraffe]]

[[Leave the park|VILLAGE MAP]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="18" name="end" tags="" position="402,1197" size="100,100">To access the links below, please right-click and open in a new tab!

Coding: &lt;a href=&quot;https://twitter.com/claraalder&quot;&gt;Clara Alder/quixoticduck&lt;/a&gt;
Art:  &lt;a href=&quot;https://twitter.com/ghostfibre&quot;&gt;Danny Alder&lt;/a&gt;

Music: Royalty Free Music and Creative Commons Music from Kevin MacLeod


</tw-passagedata><tw-passagedata pid="19" name="boxes" tags="" position="600,201" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7927/39922972593_b430858423_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;[[Look in box 1|rattle]]
[[Look in box 2|empty box]]
[[Look in box 3|key]]
[[Look in box 4|empty box]]

[[back|attic]]

&lt;/div&gt;


</tw-passagedata><tw-passagedata pid="20" name="cabinet" tags="" position="400,102" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
  		&lt;&lt;if $key is false&gt;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7861/45984872755_66153ca40b_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
	  &lt;&lt;/if&gt;&gt;
	  &lt;&lt;if $key is true&gt;&gt;
	  	  &lt;img src=&quot;https://c2.staticflickr.com/8/7820/46162885614_2e5169e2e8_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
	  &lt;&lt;/if&gt;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-m&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $key is false&gt;&gt;
	  The cabinet is locked
	&lt;&lt;/if&gt;&gt;
	&lt;&lt;if $key is true&gt;&gt;
		&lt;&lt;if $snood is true&gt;&gt;
			The cabinet is now empty
		&lt;&lt;/if&gt;&gt;
		&lt;&lt;if $snood is false&gt;&gt;
			Omg, it&#39;s a snood!
			&lt;&lt;set $snood to true&gt;&gt;
		&lt;&lt;/if&gt;&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;

[[back|attic]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="21" name="empty box" tags="" position="801,401" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7927/39922972593_b430858423_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;The box is empty, except for a few cobwebs

[[back|boxes]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="22" name="key" tags="" position="800,199" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7927/39922972593_b430858423_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;There was a key in the box! &lt;&lt;set $key to true&gt;&gt;

[[back|boxes]]

&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="23" name="duckpond" tags="" position="1200,999" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7871/45979196475_e574d20152_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;There are five ducks in the pond.
Jo, Becky, Sarah, Siobhan and Amy

They say &#39;quack&#39;

[[Park entrance|park]]

&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="24" name="shed" tags="" position="99,1301" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4844/33012440418_c15c3924fa_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $shedtip is false&gt;&gt;
	Is locked
&lt;&lt;/if&gt;&gt;
&lt;&lt;if $shedtip is true&gt;&gt;
	&lt;&lt;if $shears is true&gt;&gt;
		The shed is empty
	&lt;&lt;/if&gt;&gt;
	&lt;&lt;if $shears is false&gt;&gt;
		Duck pushes the door as he turns the handle and the shed door opens!  Inside are Liz&#39; shears!&lt;&lt;set $shears to true&gt;&gt;
	&lt;&lt;/if&gt;&gt;

&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;

[[Garden|garden]]

&lt;/div&gt;




</tw-passagedata><tw-passagedata pid="25" name="tavern" tags="" position="801,1097" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4848/45979222575_bb71a9ec7a_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;stork&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7810/46162821094_e4864b33b9_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;stork&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck used to come into the tavern sometimes with his grandpa

  [[Talk to Horace the elephant|elephant]]
  [[Talk to Liz the stork|stork]]&lt;br&gt;
  [[Leave tavern|VILLAGE MAP]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="26" name="market" tags="" position="902,601" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/46175179234_efff5d4bd9_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;130&quot; height=&quot;130&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest kangaroo&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/33012441698_f26b8dbbb2_o.png&quot; width=&quot;140&quot; height=&quot;200&quot; alt=&quot;kangaroo&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;&lt;if $rattlegiven is true&gt;&gt;
	&lt;div class=&quot;rattle item&quot;&gt;
	  	&lt;img src=&quot;https://c1.staticflickr.com/5/4887/46964581601_65ee4feb3b_o.png&quot; width=&quot;54&quot; height=&quot;54&quot; alt=&quot;rattle&quot;&gt;
  		&lt;/div&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;The market smells like tasty food

[[Speak with Jodie|kangaroo]]

[[Leave the market|VILLAGE MAP]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="27" name="kangaroo" tags="" position="1099,399" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/46175179234_efff5d4bd9_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest kangaroo&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/33012441698_f26b8dbbb2_o.png&quot; width=&quot;140&quot; height=&quot;200&quot; alt=&quot;kangaroo&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $rattle is false&gt;&gt;&lt;span class=&quot;name&quot;&gt;Jodie: &lt;/span&gt;
	  &#39;Hi Duck! Joey, say hello to Duck!&#39;&lt;br&gt;&lt;br&gt;
	  &#39;Sorry Duck, Joey is a little quiet today because he&#39;s sad that his rattle is lost&#39;
	&lt;&lt;/if&gt;&gt;
	&lt;&lt;if $rattle is true&gt;&gt;
		&lt;&lt;if $rattlegiven is false&gt;&gt;
			&#39;Is that a rattle?!&#39;&lt;br&gt;&lt;br&gt;
			[[It is, would you like to have it?|give rattle]]&lt;br&gt;
			[[My rattle can&#39;t give|market]]
		&lt;&lt;/if&gt;&gt;
		&lt;&lt;if $rattlegiven is true&gt;&gt;
			&#39;Thank you for the rattle!&#39;
		&lt;div class=&quot;rattle item&quot;&gt;
	  	&lt;img src=&quot;https://c1.staticflickr.com/5/4887/46964581601_65ee4feb3b_o.png&quot; width=&quot;54&quot; height=&quot;54&quot; alt=&quot;rattle&quot;&gt;
  		&lt;/div&gt;
		&lt;&lt;/if&gt;&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;

[[Say bye to Jodie|market]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="28" name="template" tags="" position="1302,2" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Text
[[|]]
[[|]]

[[|]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="29" name="giraffe" tags="" position="1203,799" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4882/33012440408_08a0424db2_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest giraffe&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4827/33012441838_3e5761869e_o.png&quot; width=&quot;104&quot; height=&quot;200&quot; alt=&quot;giraffe&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;
&lt;&lt;if $snood is false&gt;&gt;&lt;span class=&quot;name&quot;&gt;Rachel: &lt;/span&gt;
	  &#39;My neck is so very cold&lt;br&gt;&lt;br&gt;
	  I am a giraffe&lt;br&gt;
	  in need of a&lt;br&gt;
	  ...&#39;
	&lt;&lt;/if&gt;&gt;
	&lt;&lt;if $snood is true&gt;&gt;
		&lt;&lt;if $snoodgiven is false&gt;&gt;
			&#39;Is that a snood?! Need snood!&#39; &lt;br&gt;&lt;br&gt;
			[[It is, would you like to have it?|give snood]]&lt;br&gt;
			[[My snood can&#39;t give|park]]
		&lt;&lt;/if&gt;&gt;
		&lt;&lt;if $snoodgiven is true&gt;&gt;
			&#39;Thank you for my snood! Have you put the vase on your kitchen shelf yet?&#39;
		&lt;div class=&quot;snood item&quot;&gt;
	  	&lt;img src=&quot;https://c1.staticflickr.com/5/4815/46050786145_5f1ce16bff_o.png&quot; width=&quot;54&quot; height=&quot;54&quot; alt=&quot;snood&quot;&gt;
  		&lt;/div&gt;
		&lt;&lt;/if&gt;&gt;
	&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;

[[Say goodbye to Rachel|park]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="30" name="give snood" tags="" position="1401,901" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4882/33012440408_08a0424db2_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest giraffe&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4827/33012441838_3e5761869e_o.png&quot; width=&quot;104&quot; height=&quot;200&quot; alt=&quot;giraffe&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;set $snoodgiven to true&gt;&gt;&lt;span class=&quot;name&quot;&gt;Rachel: &lt;/span&gt;&#39;My neck will be so toasty now. I&#39;m so happy. I feel like giving you a gift in return. Here is a vase I made at pottery class&#39;&lt;&lt;set $vase to true&gt;&gt;&lt;&lt;set $newitem to &quot;vase&quot;&gt;&gt;

[[Say goodbye to Rachel|giraffe]]

&lt;/div&gt;
</tw-passagedata><tw-passagedata pid="31" name="elephant" tags="" position="602,1201" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4848/45979222575_bb71a9ec7a_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;stork&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7810/46162821094_e4864b33b9_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;elephant&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;span class=&quot;name&quot;&gt;Horace: &lt;/span&gt;&#39;Hi Duck, I hope you&#39;re settling in!&#39;

[[Say bye|tavern]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="32" name="stork" tags="" position="803,1301" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4848/45979222575_bb71a9ec7a_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;stork&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7867/39929113613_7ca0ff051d_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;stork&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;nobr&gt;&gt;&lt;span class=&quot;name&quot;&gt;Liz: &lt;/span&gt;&lt;&lt;if $shears is false&gt;&gt;
&#39;Duck! It is so nice to see you again. This tavern is my favourite place to drink ale!
This is a bit EMBARRASSING but...&#39;
&lt;br&gt;&lt;br&gt;
[[but?|shear request]]
&lt;&lt;/if&gt;&gt;
&lt;&lt;if $shears is true&gt;&gt;
	&lt;&lt;if $flower is true&gt;&gt;
		&#39;Thanks again for returning the shears. Do you have anywhere to put the flowers?&#39;
		&lt;&lt;/if&gt;&gt;
	&lt;&lt;if $flower is false&gt;&gt;
		&lt;&lt;set $newitem to &quot;flowers sitting in the vase&quot;&gt;&gt;
		&#39;Thank you for returning the shears! I&#39;ve been using my beak this entire time! Here are some flowers I snip-snipped earlier!&#39; &lt;&lt;set $flower to true&gt;&gt;
		&lt;&lt;/if&gt;&gt;

&lt;&lt;/if&gt;&gt;
&lt;&lt;/nobr&gt;&gt;

[[Say bye|tavern]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="33" name="shear request" tags="" position="1000,1302" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4848/45979222575_bb71a9ec7a_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;stork&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7867/39929113613_7ca0ff051d_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;stork&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;span class=&quot;name&quot;&gt;Liz: &lt;/span&gt;&#39;Your grandfather had borrowed some shears from me last summer. Would you be able to bring them back to me at some point? I think they are in his shed&#39;

[[The shed is locked|shed tip]]

[[Say bye|tavern]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="34" name="shed tip" tags="" position="1299,1300" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4848/45979222575_bb71a9ec7a_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck-r&quot;&gt;
	  &lt;img src=&quot;https://c1.staticflickr.com/5/4892/46884029961_cea0523dc5_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;stork&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7867/39929113613_7ca0ff051d_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;stork&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;span class=&quot;name&quot;&gt;Liz: &lt;/span&gt;&#39;Have you tried pushing the shed door as you turn the handle? I seem to remember that&#39;s the trick to opening that shed!&#39;

[[Say bye|tavern]]
&lt;&lt;nobr&gt;&gt;
	&lt;&lt;set $shedtip to true&gt;&gt;
&lt;&lt;/nobr&gt;&gt;
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="35" name="rattle" tags="" position="599,398" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7927/39922972593_b430858423_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;There was a baby&#39;s rattle in the box! &lt;&lt;set $rattle to true&gt;&gt;

[[back|boxes]]

&lt;/div&gt;

</tw-passagedata><tw-passagedata pid="36" name="give rattle" tags="" position="1100,599" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/46175179234_efff5d4bd9_b.jpg&quot; width=&quot;550&quot; height=&quot;400&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;160&quot; height=&quot;160&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;guest kangaroo&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7877/33012441698_f26b8dbbb2_o.png&quot; width=&quot;140&quot; height=&quot;200&quot; alt=&quot;kangaroo&quot;&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;&lt;&lt;set $rattlegiven to true&gt;&gt;&lt;span class=&quot;name&quot;&gt;Jodie: &lt;/span&gt;&#39;So happy with rattle. You are a good duck. Let me know if I can help you with setting up your new place&#39;

[[Say goodbye to Jodie|market]]

&lt;/div&gt;</tw-passagedata><tw-passagedata pid="37" name="housewarming" tags="" position="400,1001" size="100,100">&lt;&lt;nobr&gt;&gt;
&lt;div class=&quot;wrapper&quot;&gt;
  &lt;div class=&quot;room&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7917/33165212758_24dab6cd12_b.jpg&quot; width=&quot;550&quot; height=&quot;357&quot; alt=&quot;room&quot;&gt;
  &lt;/div&gt;
  /*
  &lt;div class=&quot;duck&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7823/46159151134_6cc6fb1846_o.png&quot; width=&quot;170&quot; height=&quot;170&quot; alt=&quot;duck&quot;&gt;
  &lt;/div&gt;
   &lt;div class=&quot;teapot&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7843/46964581511_cc413be967_o.png&quot; width=&quot;70&quot; height=&quot;70&quot; alt=&quot;teapot&quot;&gt;
  &lt;/div&gt;
	&lt;div class=&quot;flower&quot;&gt;
	  &lt;img src=&quot;https://c2.staticflickr.com/8/7822/46964581631_fb518e854d_o.png&quot; width=&quot;70&quot; height=&quot;143&quot; alt=&quot;flower&quot;&gt;
	&lt;/div&gt;
*/
 &lt;/div&gt;
&lt;&lt;/nobr&gt;&gt;&lt;div class=&quot;text_container&quot;&gt;Duck feels like his home is really his now thanks to the gifts and company of his friends. They have a lovely time together.

[[End|end]]
&lt;/div&gt;</tw-passagedata><tw-passagedata pid="38" name="tavernshut" tags="" position="601,1001" size="100,100">It&#39;s only morning, the tavern is still shut!
[[back|VILLAGE MAP]]</tw-passagedata><tw-passagedata pid="39" name="StoryCaption" tags="" position="901,1" size="100,100">Click on the arrow in the top right of the settings menu to minimise it</tw-passagedata></tw-storydata>